.BaseInput {
  display: flex;
  min-width: 120px;
  background-color: rgb(236, 235, 241);
  border-radius: 7px;
  justify-content: center;
}

.BaseInput_display_full {
  flex: 1 1 auto;
  min-width: 0;
}

.BaseInput_display_fit {
  flex: 0 0 auto;
  width: 140px;
  min-width: 140px;
}

.BaseInput > input {
  flex: 1 1 auto;
  width: 100%;
  height: 43px;
  background-color: transparent;
  text-align: center;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
