.Product {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.Product .title_bar {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: rgb(0, 0, 0);
}

.Product .title_bar > h1 {
  margin: 0px;
  font-size: 30px;
  font-weight: 800;
}

.Product .title_bar > p {
  margin: 0px;
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 400;
}

.Product .list_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

  max-height: 1000px;
  overflow-y: auto;
}
